html, body, #map{
				width:100%;
				height:100%;
				padding: 0;
				margin: 0;
			}
			.banner{
				position: absolute;
				z-index: 250;
				float: left;
				top: 15px;
				left: 25px;
				width: 939px;
				height: 75px;
				background-image: url(../images/logo.png);
				
				vertical-align: middle;
			}
			.banner>span{
				font-size: 38px;
				vertical-align: middle;
				font-family: "微软雅黑";
				margin-top: 25px;
				padding-left: 85px;
			}
			.floatContainerOn{
				position: absolute;
				z-index: 250;
				background-color: rgba(24,21,202,0.6);
				top:115px;
				right: 5px;				
				height: 600px;
				width:250px;
				text-align:center;
				line-height: 40px;
				color:white;
			}
			.floatContainerOff{
				position: absolute;
				z-index: 250;
				background-color: rgba(24,21,202,0.6);
				top:115px;
				right: 5px;				
				height: 600px;
				width:7px;
				text-align:center;
				line-height: 40px;
				color:white;
				overflow: hidden;
			}
			
			.subContainer00{
				position: absolute;
				z-index: 250;
				background-color: rgba(24,21,202,0.6);
				top:115px;
				right: 266px;	
				height: 600px;
				width:0px;
			}
			.subContainer01{
				position: absolute;
				z-index: 250;
				background-color: rgba(24,21,202,0.6);
				top:115px;
				right: 16px;			
				height: 600px;
				width:250px;
				line-height: 40px;
				color:white;
				text-align: center;
				vertical-align: middle;
				
			}
			.subContainer10{
				position: absolute;
				z-index: 250;
				background-color: rgba(24,21,202,0.6);
				top:115px;
				right: 16px;			
				height: 600px;
				width:0px;
			}
			.subContainer11{
				position: absolute;
				z-index: 250;
				background-color: rgba(24,21,202,0.6);
				top:115px;
				right: 257px;
				height: 600px;
				width:250px;
				line-height: 40px;
				color:white;
				text-align: center;
				vertical-align: middle;
				overflow-y: hidden;
				
			}
			
			.switcherOn{
				position: absolute;
				z-index: 251;
				vertical-align: middle;
				right: 238px;
				top:40%;
			}
			.switcherOn:hover{
				position: absolute;
				z-index: 251;
				vertical-align: middle;
				right: 238px;
				top:40%;
				background-color: rgb(255,255,255);
			}
			
			.switcherOff{
				position: absolute;
				z-index: 251;
				right: 5px;
				vertical-align: middle;		
				top:40%;
			}
			.switcherOff:hover{
				position: absolute;
				z-index: 251;
				right: 5px;
				vertical-align: middle;				
				top:40%;
				background-color: rgb(255,255,255);
			}
					
			
			.sub_switcher00{
				position: absolute;
				z-index: 252;
				right: 19px;
				vertical-align: middle;				
				top:37.5%;
			}
			.sub_switcher10{
				position: absolute;
				z-index: 252;
				vertical-align: middle;
				right: 255px;
				top:37.5%;
			}
			.sub_switcher01{
				position: absolute;
				z-index: 252;
				vertical-align: middle;
				right: 273px;
				top:37.5%;
			}
			.sub_switcher11{
				position: absolute;
				z-index: 252;
				vertical-align: middle;
				right: 510px;
				top:37.5%;
			}			
			#subSwitcher:hover{
				background-color: rgb(255,255,255);
			}
			.listStyle{
				list-style-type:none;
			}
			li:hover{
				cursor: pointer;
				color:red;
			}
			#pieChart{
				padding-left: 3px;				
				width:235px;
				height:250px;
			}
			
			#grid{
				background-color: rgba(24,21,202,0.6);
				width: 250px;
				height: 300px;				
				color:blue;
				text-align:center;
				overflow-y: scroll;
				overflow-x: hidden;
				padding-bottom: 2px;
				margin: auto;
			}
			svg{
				width:230px;
			}
			svg > rect{
				fill:rgba(0,0,0,0);
			}
			
			
			
			
